.addForm {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin-top: 3px;
}
input{
    width: 100%;
    border: none;
    outline: none;
}
