.label {
  display: inline-block;
  width: 92%;
}
.label-done {
  display: inline-block;
  width: 92%;
  background-color: rgba(255, 123, 0, 0.274);
  border-radius: 20px;
}
.label-importand {
  display: inline-block;
  width: 92%;
  font-weight: bold;
  color: rgb(92, 92, 245);
}
.label-done-importand{
  display: inline-block;
  width: 92%;
  background-color: rgba(255, 0, 0, 0.274);
  border-radius: 20px;
}
.img {
  margin-left: 5px;
  background: chartreuse;
  border-radius: 50%;
}
.img:last-child {
  margin-left: 5px;
  background: rgb(255, 17, 0);
  border-radius: 50%;
}
.img-importand{
  margin-left: 5px;
  background:  rgb(92, 92, 245);
  border-radius: 50%;
}
.img-done {
  background-color: rgba(255, 123, 0, 0.274);
  margin-left: 5px;
  border-radius: 20px;
}
.img-done-importand{
  background-color: rgba(255, 0, 0, 0.274);
  margin-left: 5px;
  border-radius: 20px;
}
